html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: #f1f2f3;
}

@import "_camera.scss";
@import "_preview.scss";